Repository adapt-python/adapt, pull requests merged in 2022-03, with the labels that each got.

#26 feat: Add methods CCSA+LDM+fMMD+NNW+SA+FineTuning
  .gitignore
  adapt/base.py
  adapt/feature_based/__init__.py
  adapt/feature_based/_adda.py
  adapt/feature_based/_ccsa.py
  adapt/feature_based/_coral.py
  adapt/feature_based/_dann.py
  adapt/feature_based/_deepcoral.py
  adapt/feature_based/_fe.py
  adapt/feature_based/_fmmd.py
  adapt/feature_based/_mcd.py
  adapt/feature_based/_mdd.py
  adapt/feature_based/_sa.py
  adapt/feature_based/_wdgrl.py
  adapt/instance_based/__init__.py
  adapt/instance_based/_kliep.py
  adapt/instance_based/_kmm.py
  adapt/instance_based/_ldm.py
  adapt/instance_based/_nnw.py
  adapt/instance_based/_tradaboost.py
  adapt/instance_based/_wann.py
  adapt/metrics.py
  adapt/parameter_based/__init__.py
  adapt/parameter_based/_finetuning.py
  adapt/parameter_based/_regular.py
  src_docs/_static/css/custom.css
  src_docs/_static/js/custom.js
  src_docs/conf.py
  src_docs/generated/adapt.feature_based.ADDA.rst
  src_docs/generated/adapt.feature_based.CDAN.rst
  src_docs/generated/adapt.feature_based.CORAL.rst
  src_docs/generated/adapt.feature_based.DANN.rst
  src_docs/generated/adapt.feature_based.DeepCORAL.rst
  src_docs/generated/adapt.feature_based.FE.rst
  src_docs/generated/adapt.feature_based.MCD.rst
  src_docs/generated/adapt.feature_based.MDD.rst
  src_docs/generated/adapt.feature_based.WDGRL.rst
  src_docs/generated/adapt.instance_based.KLIEP.rst
  src_docs/generated/adapt.instance_based.KMM.rst
  src_docs/generated/adapt.instance_based.TrAdaBoost.rst
  src_docs/generated/adapt.instance_based.TrAdaBoostR2.rst
  src_docs/generated/adapt.instance_based.TwoStageTrAdaBoostR2.rst
  src_docs/generated/adapt.instance_based.WANN.rst
  src_docs/generated/adapt.parameter_based.RegularTransferLC.rst
  src_docs/generated/adapt.parameter_based.RegularTransferLR.rst
  src_docs/generated/adapt.parameter_based.RegularTransferNN.rst
  tests/test_base.py
  tests/test_ccsa.py
  tests/test_finetuning.py
  tests/test_fmmd.py
  tests/test_kliep.py
  tests/test_kmm.py
  tests/test_ldm.py
  tests/test_mcd.py
  tests/test_metrics.py
  tests/test_nnw.py
  tests/test_regular.py
  tests/test_sa.py
  tests/test_tradaboost.py
Labels: Type: Feature

#27 docs: Update docs for SA+LDM+fMMD+FineTuning+...
  adapt/feature_based/_ccsa.py
  adapt/feature_based/_fe.py
  adapt/feature_based/_fmmd.py
  adapt/feature_based/_mcd.py
  adapt/feature_based/_sa.py
  adapt/instance_based/__init__.py
  adapt/instance_based/_ldm.py
  adapt/instance_based/_nearestneighborsweighting.py
  adapt/parameter_based/_finetuning.py
  src_docs/_templates/layout.html
  src_docs/contents.rst
  src_docs/gallery/CCSA.rst
  src_docs/gallery/FineTuning.rst
  src_docs/gallery/LDM.rst
  src_docs/gallery/NearestNeighborsWeighting.rst
  src_docs/gallery/SA.rst
  src_docs/gallery/fMMD.rst
  src_docs/generated/adapt.feature_based.CCSA.rst
  src_docs/generated/adapt.feature_based.SA.rst
  src_docs/generated/adapt.feature_based.fMMD.rst
  src_docs/generated/adapt.instance_based.LDM.rst
  src_docs/generated/adapt.instance_based.NearestNeighborsWeighting.rst
  src_docs/generated/adapt.metrics.make_uda_scorer.rst
  src_docs/generated/adapt.parameter_based.FineTuning.rst
  tests/test_fmmd.py
  tests/test_ldm.py
Labels: Type: Documentation

#28 docs: remove new tf methods from doc
  src_docs/_templates/class.rst
Labels: Type: Documentation

#31 fix: Update transfer tree + Fix clone for parameter based methods
  adapt/_tree_utils.py
  adapt/metrics.py
  adapt/parameter_based/__init__.py
  adapt/parameter_based/_finetuning.py
  adapt/parameter_based/_regular.py
  adapt/parameter_based/_transfer_tree.py
  adapt/utils.py
  examples/transfertree.py
  src_docs/_templates/layout.html
  src_docs/conf.py
  src_docs/contents.rst
  src_docs/gallery/TransferTreeClassifier.rst
  src_docs/generated/adapt.metrics.j_score.rst
  src_docs/generated/adapt.metrics.neg_j_score.rst
  src_docs/generated/adapt.parameter_based.TransferTreeClassifier.rst
  src_docs/generated/adapt.utils.UpdateLambda.rst
  src_docs/generated/adapt.utils.check_fitted_estimator.rst
  src_docs/generated/adapt.utils.check_fitted_network.rst
  tests/test_finetuning.py
  tests/test_metrics.py
  tests/test_regular.py
  tests/test_transfertree.py
  tests/test_utils.py
Labels: Type: Fix

#35 feat: Add TransferForestClassifier
  .github/workflows/check-docs.yml
  .github/workflows/publish-doc-to-remote.yml
  adapt/_tree_utils.py
  adapt/parameter_based/__init__.py
  adapt/parameter_based/_transfer_tree.py
  examples/transfertree.py
  tests/test_transfertree.py
  tests/test_treeutils.py
Labels: Type: Feature

#36 docs: add python 39
  README.md
Labels: Type: Documentation
