Repository adapt-python/adapt, pull requests merged in 2022-09, with the labels that each got.

#71 fix: Add kernel initializers
  adapt/base.py
  adapt/feature_based/_cdan.py
  adapt/feature_based/_deepcoral.py
  adapt/feature_based/_mcd.py
  adapt/feature_based/_mdd.py
  adapt/instance_based/_wann.py
  adapt/utils.py
  tests/test_adda.py
  tests/test_ccsa.py
  tests/test_cdan.py
  tests/test_coral.py
  tests/test_dann.py
  tests/test_finetuning.py
  tests/test_mcd.py
  tests/test_mdd.py
  tests/test_regular.py
  tests/test_wdgrl.py
Labels: Type: Fix

#70 feat: Update _kliep.py
  adapt/instance_based/_kliep.py
  tests/test_kliep.py
Labels: Type: Feature

#73 docs: Update _kliep.py
  adapt/instance_based/_kliep.py
Labels: Type: Documentation

#77 feat: Add PRED
  adapt/feature_based/__init__.py
  adapt/feature_based/_pred.py
  tests/test_pred.py
Labels: Type: Feature

#78 feat: Add LinInt
  adapt/feature_based/_pred.py
  adapt/parameter_based/__init__.py
  adapt/parameter_based/_linint.py
  tests/test_linint.py
Labels: Type: Feature

#79 feat: Add IWN
  adapt/instance_based/__init__.py
  adapt/instance_based/_iwn.py
  tests/test_iwn.py
Labels: Type: Feature

#80 feat: ULSIF and RULSIF
  adapt/instance_based/_RULSIF.py
  adapt/instance_based/_ULSIF.py
Labels: Type: Feature

#81 test: Add test ULSIF RULSIF
  adapt/instance_based/__init__.py
  adapt/instance_based/_rulsif.py
  adapt/instance_based/_ulsif.py
  tests/test_ulsif.py
Labels: Type: Testing

#83 fix: Modif KLIEP original
  adapt/instance_based/_kliep.py
Labels: Type: Fix
